.label {
  line-height: 2;
  text-align: left;
  margin-right: 36px;
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.main {
  margin-top: 20px;
}


.mySelectMenu {
  color: white;
  background-color: #f00;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  text-transform: capitalize;
}